body{
    background-color: aliceblue;
}
#red{
    background-color: rgb(61, 221, 61);
    color: white;
    color: white;
}
#white{
    background-color: white
}
#whate{
    background-color: white
}
#ol{
    background-color: white;
}
#iframe{
    background-color: white;
}
#form{
    background-color: white;
}
#img{
    background-color: white;
}
#audio{
    background-color: white;
}
#video{
    background-color: white;
}